<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <span class="display-1 d-block">Service Providers</span>
              <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                <span>E-Collect&reg; Choose a service provider</span></h6>
              <ul class="list-inline text-center text-sm mb-4">
                <li class="list-inline-item">
                    <a class="text-muted" [routerLink]="'/edc'">External Debt Collectors</a>
                </li>
                <li class="text-muted list-inline-item">|</li>
                <li class="list-inline-item">
                    <a class="text-muted" [routerLink]="'/repos'">Repossessors</a>
                </li>
                <li class="text-muted list-inline-item">|</li>
                <li class="list-inline-item">
                    <a class="text-muted" [routerLink]="'/valuers'">Valuers</a>
                </li>
                <li class="text-muted list-inline-item">|</li>
                <li class="list-inline-item">
                    <a class="text-muted" [routerLink]="'/investigators'">Investigators</a>
                </li>
                <li class="text-muted list-inline-item">|</li>
                <li class="list-inline-item">
                    <a class="text-muted" [routerLink]="'/marketors'">Marketors</a>
                </li>
                <li class="text-muted list-inline-item">|</li>
                <li class="list-inline-item">
                    <a class="text-muted" [routerLink]="'/auctioneers'">Auctioneers</a>
                </li>
            </ul>
          </div>
      </div>
  </div>
</div>